@use '../base/variables' as v;
@use '../base/mixins' as m;
@use 'sass:color';

.tabs{
    display: flex;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
    }
    button{
        flex: 1;
        background-color: v.$azul;
        border-radius: .2rem;
        padding: 1rem;
        border: none;
        margin-bottom: 1rem;
        color: v.$blanco;
        text-transform: uppercase;
        font-weight: v.$bold;
        transition: ease-in 0.3s;
        cursor: pointer;

        &:hover{
            background-color: color.adjust($color: v.$azul, $lightness: -15%);
            scale: 1.03;
        }

        &.actual {
            background-color: color.adjust($color: v.$azul, $lightness: 48%);
            color: v.$azul;
        }
    }
}